<h1 class="section-header">About Me</h1>

<div class="section-container">
    <h2 id="cmd-r">Game Dev, Programmer, Musician, Pixel Artist</h2>
    <p class="subtitle">26 years old</p>
    <p class="subtitle">Gay Male</p>
</div>

<div class="section-container">
    <p>Hey there, I'm Kevin. Welcome to my personal website, where I keep all the projects and interests that I'm passionate about. I've come to learn that I'm a jack of all trades, constantly bouncing around to exciting new hobbies. I teach myself everything there is to know about that hobby, absorbing all the information, and then move on to the next once I've mastered it. My goal is to find a career that will let me use my wide array of skills and perspectives to bring innovative ideas and cohesive design to my work.</p>
</div>

<div class="section-container">
    <p>I love playing video games with my husband and snuggling with our cat Link. When I'm not working or gaming, I'm usually at the gym or cooking a complicated meal and using way too many dishes.</p>
</div>