<h1 class="section-header">Game Dev</h1>

<div class="section-container">
    <h2 id="game-project">Unannounced Game Project</h2>
    <p class="subtitle">Skyfire Games, Inc.</p>
    <p class="subtitle">Unity</p>
</div>

<div class="section-container">
    <p>Under the mentorship of a lead game designer from the AAA gaming industry, I've started working on a social sandbox MMO. Still in it's early stages, we envision the game to be a 2D top-down perspective with free movement. Players will work together to reclaim ancient towns left by a lost civilization. Each town will work to gather resources and vote on ordinances to direct the growth of their community. Supplemented by a class-based, party-focused combat system, we hope our social systems will bring players a sense of community and involvement, like pioneers rediscovering a mysterious ancient civilization.</p>
</div>

<div class="section-container">
    <div class="grid-row align-baseline">
        <div class="grid-cell v-flex align-center flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/fabled-era-concept-huts.png">
            <p class="subtitle">Concept art for the project, showing the overgrown village aesthetic of the world.</p>
        </div>
    </div>
</div>

<hr>

<div class="section-container">
    <h2 id="scatterbrained">Scatterbrained</h2>
    <p class="subtitle">Unreal Engine 4</p>
    <p class="subtitle">Spring 2018</p>
</div>

<div class="section-container">
    <p>As part of my Computer Science curriculum at NC State, I took the Advanced Game Projects course, which requires groups of students to pitch, design, develop, and hopefully release a video game from start to finish. For this project, I joined a team of 4 students to create a game titled <em>Scatterbrained</em>. The idea for this game was pitched by a classmate, and I applied to work on the team.</p>
</div>

<div class="section-container">
    <div class="grid-row">
        <div class="grid-cell flex-grow flex-shrink">
            <iframe loading="lazy" width="500" height="300" src="https://www.youtube.com/embed/mWMZ5-pKZg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="subtitle">The trailer for Scatterbrained</p>
        </div>
        <div class="grid-cell flex-grow flex-shrink">
            <iframe loading="lazy" width="500" height="300" src="https://www.youtube.com/embed/O_hztYaIXp0?start=56" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="subtitle">A short demo showing off the changes in camera perspective</p>
        </div>
    </div>
</div>

<div class="section-container">
    <p>The premise of <em>Scatterbrained</em> is that the protagonist has lost their mind and must go find it. Pieces of the player's mind are scattered throughout the game, and the player must go retrieve them by solving puzzles and basic platforming. Each piece that the player collects will grant them a certain brain functionality. For example, the player might be colorblind at the start of the game, but receive color vision upon collecting the corresponding part of their brain.</p>
    <p>To keep things interesting, the game is non-linear. This means the player may choose to collect the pieces of the brain in whichever order they wish, granting them a different path through the game each time, using different strategies to solve puzzles.</p>
    <p>This project is was completed in Spring 2018, although it is not currently available to the public. Many of the features we hoped to include were not feasible with the timeline, but we are extremely happy with the final result. The various gameplay styles we implemented gave us a grasp on many techniques in the Unreal Engine, including cel shading, camera projections, and level design in those multiple POVs.</p>
</div>

<hr>

<div class="section-container">
    <h2 id="pixel-art">Pixel Art</h2>
    <p class="subtitle">Aseprite</p>
</div>

<div class="section-container">
    <p>I've always enjoyed pixel art for its preciseness and thoughtfulness. Each pixel matters and has to be carefully placed. Often, if you zoom in on a pixel image, the chosen pixels and colors look out of place and strangely arranged. But when you see the big picture (literally), everything fits as it should. The brain has an amazing way of blending the pixels into a recognizable, realistic looking image, even if the reality is far from it.</p>
</div>

<div class="section-container">
    <p>Without any art background, I had a hard time initially getting into pixel art. I had questions about pretty much everything from what colors to pick to how big my canvas should be. After lots of research on different styles and techniques, I've been able to make some art that I'm proud of. I practice often using daily prompts; the results aren't always good, but I always learn what works and what doesn't.</p>
</div>

<div class="section-container">
    <div class="grid-row align-baseline">
        <div class="grid-cell v-flex align-center flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/house.png">
            <p class="subtitle">My first pixel art scene, a small house in a field. Created by closely following a tutorial.</p>
        </div>
        <div class="grid-cell v-flex align-center flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/metal-city.png">
            <p class="subtitle">An original image recently created for a pixel daily prompt: "Metallic".</p>
        </div>
    </div>
</div>

<div class="section-container">
    <app-animated-link
        [backImg]="'/kevin-bartushak/assets/images/link-background.gif'"
        [reverseImg]="'/kevin-bartushak/assets/images/link-background-reverse.gif'"
        [href]="'https://twitter.com/KbPixel'">Visit my Twitter for more pixel art</app-animated-link>
</div>

<hr>

<div class="section-container">
    <h2 id="potion-game">Potion Game Concept</h2>
    <p class="subtitle">Godot Engine</p>
    <p class="subtitle">Summer 2018</p>
</div>

<div class="section-container">
    <p>With some solid pixel art work under my belt, I decided to put some of my skills together to work on a game project. Brainstorming with my then boyfriend, a chemical engineer who loves alchemy, we came up with a potion-making simulation/management game. We took all of the concepts that we liked in other games and started planning them into our game.</p>
</div>

<div class="section-container">
    <p>The premise of our game is as follows: the player is the owner of small potion shop. Using their trusty cauldron, they concoct batches of simple potions using local ingredients to sell to brave adventurers. As demand increases, it falls on you to expand your operation, hiring workers to operate the potion assembly line and fine-tuning your recipes to produce the best quality potions and beat out the competition.</p>
</div>

<div class="section-container">
    <p>Each recipe in the game will be presented to the player; however, only the most skilled potion masters can tweak these recipes to be the best. Every step in the potion making process will have several parameters the player can alter to affect the quality of the potion being made. Hire a potion researcher to help determine the exact conditions for your perfect potion through actual methods used by real chemical engineers!</p>
</div>

<div class="section-container">
    <div class="grid-row align-baseline">
        <div class="grid-cell v-flex align-center flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/empty-bottle.png">
        </div>
        <div class="grid-cell v-flex align-center flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/green-potion.png">
        </div>
    </div>
    <div class="grid-row align-baseline">
        <div class="grid-cell v-flex align-center flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/cauldron-fire.gif">
            <p class="subtitle">Some sprites created for the potion game concept.</p>
        </div>
    </div>
</div>

<div class="section-container">
    <p>Though I've moved on to start other projects instead of this one, I believe this concept has great potential. I definitely want to revisit this one in the future!</p>
</div>