.page-header {
    background-color: #6C875A;
    padding: 15px 0 10px 30px;
}

.main-body {
    padding: 64px 128px 32px 64px;
}

#main-container {
    height: 100%;
}

.footer {
    height: 5%;
    align-items: center;
    justify-content: center;
}