<h1 class="section-header">Design</h1>

<div class="section-container">
    <h2 id="cmd-r">CMD + R</h2>
    <p class="subtitle">Angular Web Application</p>
    <p class="subtitle">Summer 2020</p>
</div>

<div class="section-container">
    <p>My friends and I love gathering around the table to play some Magic: The Gathering's multiplayer Commander format. In this version of the game, we get to build awesome, fun, and sometimes janky decks that we can truly call our own. While nothing can compare to the paper format of MTG, Covid-19--along with friends relocating to other states--has made it impossible for our group to continue our tradition.</p>

    <p class="inline">Fortunately for us, Tabletop Simulator supports custom decks that allow you to import cards and play with them just as you would in real life! The only challenge for us is creating the custom deck objects. For a while, our group used the card importer at&nbsp;</p>
    <app-animated-link
        [backImg]="'/kevin-bartushak/assets/images/link-background.gif'"
        [reverseImg]="'/kevin-bartushak/assets/images/link-background-reverse.gif'"
        [href]="'https://www.frogtown.me/'">frogtown.me</app-animated-link>
    <p class="inline">, but the non-user-friendly interface and having to wait for the creator to upload new cards frustrated me.</p>
</div>

<div class="section-container">
    <p class="inline">I knew that I could make improvements over the existing application, especially in the interface design. So after a week of brushing up on Angular, navigating the&nbsp;</p>
    <app-animated-link
        [backImg]="'/kevin-bartushak/assets/images/link-background.gif'"
        [reverseImg]="'/kevin-bartushak/assets/images/link-background-reverse.gif'"
        [href]="'https://scryfall.com/docs/api'">Scryfall API</app-animated-link>
    <p class="inline">, and learning how to import objects into Tabletop Simulator, I had a working application that I could share with my friends! Notable features that I added are:</p>
    <ul>
        <li><p>Easier commander selection and suggestions. This meant no more scrolling through all 100 cards to find the commander!</p></li>
        <li><p>A convenient way to set and show your card back, for that finishing customization of your deck. What's a unicorns deck without a matching card back?</p></li>
        <li><p>Quick switching between different card printings. Want to show off some promo art? Maybe some white-border cards? All in one dropdown!</p></li>
        <li><p>Token customization. My app automatically pulls all tokens that are created by the cards in your deck and allows you to change the art just like a normal card.</p></li>
    </ul>
</div>

<div class="section-container">
    <iframe id="cmdr-embed" src="https://kabsoccer.github.io/mtg-tts-importer/"></iframe>
    <div class="img-subtitle">
        <p class="inline">The live CMD + R application. You can play around with the embedded version here, or check out the&nbsp;</p>
        <app-animated-link
        [backImg]="'/kevin-bartushak/assets/images/link-background.gif'"
        [reverseImg]="'/kevin-bartushak/assets/images/link-background-reverse.gif'"
        [href]="'https://kabsoccer.github.io/mtg-tts-importer/'">full application here.</app-animated-link>
        <p>To try it out, paste the following sample into the deck list text area:</p>
        <p class="small">
            1 Arixmethes, Slumbering Isle<br>
            2 Island<br>
            1 Command Tower<br>
            1 Kiora, Master of the Depths<br>
        </p>
</div>

<div class="section-container">
    <p>This project was especially fun to work on because it truly meant something to me and my friends. We still use my application to play games, and it allows us to connect, even across multiple states and a pandemic.</p>
</div>

<hr>

<div class="section-container">
    <h2 id="3d-model">Personal Website</h2>
    <p class="subtitle">Angular Web Application</p>
    <p class="subtitle">Fall 2021</p>
</div>

<div class="section-container">
    <p>I wouldn't want to discuss web design without mentioning the site you're currently browsing! I created this as a portfolio to show off some of my interests and skills. I saw this as a good opportunity to combine some of the pixel art skills I've acquired with my web design knowledge. All the assets and code were created by me for this site, and I hope you're enjoying the cozy feel.</p>
</div>

<hr>

<div class="section-container">
    <h2 id="3d-model">3D Modeling</h2>
    <p class="subtitle">Blender</p>
    <p class="subtitle">Fall 2017</p>
</div>

<div class="section-container">
    <p>As a part of my Video Game Development curriculum at NC State, I completed a computer graphics course. I really enjoyed the class, and my interest in the material inspired me to experiment with some 3D modeling and rendering software. I downloaded Blender and watched hours of YouTube videos, where I learned how to model, shade, and even texture my scenes. I started out small, doing a few images of mirror spheres and coffee cups. I was surprised and delighted at the success I was having!</p>
</div>

<div class="section-container">
    <div class="grid-row">
        <div class="grid-cell flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/mirror_ball2.png">
            <p class="subtitle">First creation in Blender: a metal ball floating above a checkerboard plane, with a green light.</p>
        </div>
        <div class="grid-cell flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/mirror_balls_sky.png">
            <p class="subtitle">Recreation of sphere model with better materials, lighting, and an HDRI (skybox).</p>
        </div>
    </div>
    <div class="grid-row">
        <div class="grid-cell flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/mug.png">
            <p class="subtitle">First attempt at a coffee mug. My model was pretty rough, but I was pleased with the material and lighting.</p>
        </div>
        <div class="grid-cell flex-grow flex-shrink">
            <img src="/kevin-bartushak/assets/images/mug2.png">
            <p class="subtitle">Second attempt at a coffee mug. I created a great model, as well as more realistic material, lighting, and environment. It looks real!</p>
        </div>
    </div>
</div>

<div class="section-container">
    <p>Both of these attempts were created only a week apart! I was extremely happy with the improvement shown from such a short amount of time. From here, I decided to pursue a bigger project: I wanted to model the rings my husband and I bought for each other. With a much more complicated shape and texture, I was a little skeptical of my ability to produce a realistic image. However, after about a week of hard work, research, and endless tiny changes, I produced a result that I was indescribably proud of.</p>
</div>

<div class="section-container">
    <div class="grid-row">
        <div class="grid-cell flex-grow">
            <a href="/kevin-bartushak/assets/images/rings1-edit.png" target="_blank"><img src="/kevin-bartushak/assets/images/rings1-edit.png"></a>
            <p class="subtitle">Click the image for the full resolution!</p>
        </div>
    </div>
</div>

<div class="section-container">
    <p>Only a few months before, I had never imagined I'd create something as beautiful and realistic as this image. Especially not in just 2 weeks! Because of this small side project, I was inspired to take more computer modeling courses at NC State, and was able to apply these skills to modeling levels in my game development projects.</p>
</div>