<h1 class="section-header">Music</h1>

<div class="section-container">
    <h2 id="cmd-r">Piano, Sax, & Clarinet</h2>
</div>

<div class="section-container">
    <p>My love for music started in second grade, when I first starting taking piano lessons. I picked up the clarinet for band class in 4th grade, and the saxophone for jazz band in 7th grade. Throughout high school and college, I played in the wind ensemble at school, a regional jazz band, the pit orchestra for my high school's theater department, and even an 80's cover band with gigs at local bars. Music is a huge part of my life, and I hope to bring some of the creativity and beauty I've learned to my game development career.</p> 
</div>

<div class="section-container">
    <div class="grid-row align-baseline">
        <div class="grid-cell v-flex align-center flex-grow flex-shrink">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mFNof0igaVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="subtitle">An arrangement of music from my favorite video game, Chrono Trigger, performed by me at age 18.</p>
        </div>
    </div>
</div>

<div class="section-container">
    <h2 id="cmd-r">Music Composition</h2>
</div>

<div class="section-container">
    <p>In addition to playing music, I've also composed several pieces of mostly electronic music. I took music theory and electronic music classes in school, and released a handful of original pieces:</p>
</div>

<div class="section-container">
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=3897923581/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://kevinbartushak.bandcamp.com/track/rain-showers">Rain Showers by Kevin Bartushak</a></iframe>
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=804982044/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=3126033043/transparent=true/" seamless><a href="https://kevinbartushak.bandcamp.com/album/trials-ep">Trials [EP] by Kevin Bartushak</a></iframe>
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=804982044/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=177435027/transparent=true/" seamless><a href="https://kevinbartushak.bandcamp.com/album/trials-ep">Trials [EP] by Kevin Bartushak</a></iframe>
</div>
